@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;


  

}
/* Variables end */
/* when scrolling */


html {
  scroll-behavior:inherit;
}

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}

.text-sm { font-size: var(--fs-4); }

.text-tiny { font-size: var(--fs-5); }


/* css for the nav bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);

}
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav h1{
    color: black;

  }
  
  nav a {
    color: black;
    transition: var(--transition);
  }
  nav a:hover {
    color: #A15E42;
    border-bottom: 2px solid grey;
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }
  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  
/* style for the landing Page */
.hero {
  padding-top: 20px;
    display: flex;
    position: relative;
    align-items: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
   
    height: 40rem;
    width: 60rem;
    border-radius: 20px;
    margin-left: 0px;
  }
  
  .bio {
    position: absolute;
    background: rgba(66, 58, 58, 0.65);
    opacity: 90%;
    width: 28rem;
    height:19rem;
    margin-left: 750px;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
  .bio h2 {
    margin-bottom: var(--bottom-margin);
    color: white;
    padding-left: 20px;
    font-size: 36px;
  }
  
  .bio p {
    padding-left: 20px;
    line-height: var(--line-height);
    padding-top: 20px;
    color: white;
    font-size: 28px;;
  }
  .bio button {
    margin-top: 50px;
    margin-left: 90px;
    justify-content: center;
    width: 200.78px;
    height: 60.53px;
    left: 1182px;
    top: 673px;
    color: #fcfcfc;
    font-size: 20px;
    border-radius: 20%;
    background-color: #0a0a09;
  }
  






 
/* styles for myskils section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  color: #A15E42;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 1rem;
  font-size: 35px;
}
.skill_img img{
  size: 40px;
  align-items: center;
}
.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 15px;
 float: left;

}
.circle-wrap {

  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: white;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;

  color: black;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
.circle-wrap .inside-circle .image {
margin: 30px;
  align-items: center;
  height: 70px;
  width: 70px;
}
.circle-wrap .inside-circle .image2 {
  margin: 30px;
    align-items: center;
    height: 70px;
    width: 70px;
  }
  
/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #A15E42;
}


.mask.full,
.circle .fill{
  animation: fill ease-in-out 3s ;
  transform: rotate(180deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* style for the portfolio */
.projects {
  background-color: var(--bg-color);
  margin-left: 100px;
  margin-top: 2rem;
  padding-left: 20px;
  float: inline-start;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}
.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 30px;
}
 

/* styles for the footer */
.vl{
  border-left: 2px solid black;
  height: 300px;
  margin-left: 16px;
  
}
.vl2{
  border-left: 2px solid black;
  height: 160px;
  margin-left: 16px;
  
}
.socials {
  display:flex;
  flex-direction: column;
  position: fixed;
  left: 6%;
  bottom: 8%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
.copy{
  margin-top: 8px;
  margin-left: 99px;
  bottom: 8%;
}

@media screen and (max-width: 720px) {
  /*responsiveness for screens with a width of 720px and below*/
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }
  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
        height: 37.5rem;
        width: 30rem;
    }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }
  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }
  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }
  .contact-form-container {
    max-width: 23.75rem;
  }
}

